html {
  background-image: $brand-gradient;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content__wrapper {
  padding: 0 135px;
}

.content__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__header > h1 {
  margin-bottom: 16px;
}

.content__desserts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 226px);
  justify-content: center;
  gap: 48px;
}
